
html {
  height: 100%;
}

body {
  background-image: url("../img/background\ theme.jpeg");
  background-size: cover;
  height: 100%;
}

/*
 * Navbar
 */
.navbar-brand {
  font-size: 40px;
  font-weight: 700;
}

.nav-link {
  color: #eccd05;
  font-weight: 700;
  font-size: 20px;
}

/*
 * Challenge code
 */
#challenge-btn {
  width: fit-content;
  align-items: center;
  justify-content: center;
  color: #eccd05;
  background: #333;
  border: 1px solid #ffff;
}

#challenge-code {
  width: fit-content;
  align-items: center;
  justify-content: center;
  color: #eccd05;
  background: #333;
  border: 1px solid #ffff;
}

.challengeCode {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: yellow;
}

/*
 * Modals
 */

/* Removes the close button from the username modal */
#username-modal::part(modal-close), 
#character-modal::part(modal-close) {
    display: none;
    pointer-events: none;
}

modal-dialog::part(modal-pane) {
  height: auto;
}

.user {
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 500;
  background-color: #eccd05;
  border-radius: 10px;
  color: rgb(69, 66, 64);
  margin: 2rem;
}

/**user modal**/
#start-user {
  font-weight: 750;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#set-user {
  color: #eccd05;
  background: #270356;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 10px;
  border: 1px solid #eccd05;
}

#username {
  font-size: 18px;
  font-weight: 500;
  padding: 5px 10px;
  border: 1px solid #eccd05;
}

/*
 * Cards
 */

.card-body {
  background-image: url("../img/background\ theme.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-body button {
  align-items: center;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

/*
*Force Power Select
*/

.force-power {
    color:#eccd05;
    margin-bottom: 20px;
    text-align:center;
}



/*
 * Chat box
 */

#chat {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#chat-box {
  resize: none;
}

.chat-input {
  display: flex;
}

#chat-msg {
  flex-grow: 1;
}

