<!DOCTYPE html>
<html lang="en" id="card">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=5.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>char-card</title>
</head>
<body>
    <div class="player-card jedi">
        <h4 id="char-name-text">Place name<span id="char-name"></span></h4>
        <img class="character-img" src="../static/css/images/yoda.jpeg">
        <div class="player-stats">
            <div class="stat">Strength: <span id="str-value"></span></div>
            <div class="stat">Weapson Skill: <span id="ws-value"></span></div>
            <div class="stat">Agility: <span id="agi-value"></span></div>
            <div class="stat">Health: <span id="health-value"></span></div>
        </div>
        <div class="footer">

        </div>
    </div>
</body>
</html>