<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="module"></script>

    <!-- COMPONENTS -->
    <script src="{{ url_for('static', filename='js/components/modal/modal.js') }}" type="module"></script>
    <!-- /COMPONENTS -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    

    <p>hello    </p>

    <!-- Username modal -->
    <modal-dialog id="username-modal" static show>
        <h3 slot="modal-header">What is your name young padawan?</h3>
        <div slot="modal-content">
            <input type="text" id="username" placeholder="username">
            <button id="set-user">Set Username</button>
        </div>
    </modal-dialog>


    <p>
        <div>Your challenge code: <span id="player-challenge-code"></span></div>
        <input type="text" id="challenge-code" placeholder="opponent challenge code">
        <button id="challenge-btn">Challenge Player</button>
    </p>

    <form action="#" id="chat">
        <textarea id="chat-box" cols="30" rows="10" readonly></textarea>
        <input type="text" id="chat-msg">
        <input type="submit" value="Send Message">
    </form>
    
</body>
</html>